<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LibraryServiceSoap" />
                <binding name="BasicHttpBinding_ILibraryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53557/LibraryService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LibraryServiceSoap"
                contract="LibraryServiceASMX.LibraryServiceSoap" name="LibraryServiceSoap" />
            <endpoint address="http://localhost:55842/LibraryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibraryService"
                contract="LibraryServiceWCF.ILibraryService" name="BasicHttpBinding_ILibraryService" />
        </client>
    </system.serviceModel>
</configuration>